<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magenest\Messenger\Model\ResourceModel\UserData\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_messenger_userdata</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Messenger\Model\ResourceModel\UserData</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="messengeruser_listing_data_source" xsi:type="string">Magenest\Messenger\Model\ResourceModel\UserData\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>